@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(105, 144, 202);
    width: auto;
    box-shadow: 0px 2px 10px #424242;
}
header img{
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-size: 19px;
}
nav img{
    width: 150px;
}
nav a{
    text-decoration: none;
    text-shadow: 16px;
    color: white;
}
footer{
    background-color: rgb(168, 168, 168);
    text-align: center;
    color: rgb(88, 88, 88);
    padding: 65px;
}
.tarjetas{
    display: flex;
    justify-content: center;
}
.tarjetas2{
    display: flex;
    justify-content: center;
}
.card{
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #ccc;
    font-family: "Prompt", sans-serif;
}
.card img{
    width: 100%;
}
.card h1{
    text-align: center;
    padding: 2px;
}
.card p{
    padding: 5px;
    text-align: center;
    font-size: 20px;
}