@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(105, 144, 202);
    width: auto;
    box-shadow: 0px 2px 10px #424242;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-size: 19px;
}
nav img{
    width: 150px;
}
nav a{
    text-decoration: none;
    text-shadow: 16px;
    color: white;
}
.tarjetas1{
    display: flex;
    justify-content: center;
}
.card{
    width: 450px;
    margin: 20px;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #424242;
}
.card img{
    width: 450px;
    background-size: cover;
    background-position: center;
}
.card h1, p{
    text-align: center;
    font-size: 23px;
}